.wave {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0;
    margin-right: -2rem;
    margin-top: calc(-104px - 2rem);
    z-index: -2;
}

.people {
    position: absolute;
    top:0;
    right: 0;
    margin-right: 80px;
    z-index: -1;
}